<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include("partials/head") %>
</head>
<style>
    .card
{
    border-radius:15px;
    overflow:hidden;
}
    .restaurantimage img {
    height: 400px;
    width: 400px;
    object-fit: fit;
    border-radius: 15px;
}

@media(max-width:768px)
{
    .restaurantimage img
    {
        height:200px;
    }
}

@media(max-width:576px)
{
    .restaurantimage img
    {
        height:150px;
    }
}

    .menu-img {
    width:100%;
    height:180px;
    object-fit:cover;
}

@media(max-width:576px)
{
    .menu-img
    {
        height:180px;
    }
}
body
{
    background-color: #f8f9fa;;
}
</style>

<body>
    <%- include("partials/nav") %>

        <div class="container my-4">

            <h1 class="mb-3 fw-bold restaurant-title">
                <%= restaurant.name %>
            </h1>

            <div class="restaurantimage">
                <img src="<%= restaurant.image %>" class="img-fluid w-100">
            </div>

            <div class="row mt-5">

                <% menus.forEach(menu=>{ %>

                    <div class="col-12 col-md-6 mb-3">

                        <div class="card mb-3">

                            <div class="row g-0">

                                <div class="col-4 col-md-4">
                                    <img src="<%= menu.image %>" class="menu-img">
                                </div>

                                <div class="col-8 col-md-8">

                                    <div class="card-body">

                                        <h5>
                                            <%= menu.Name %>
                                        </h5>

                                        <p>
                                            <%= menu.Type %> 
                                                <% if(menu.Cheese) { %>
                                                    | Cheese
                                                    <% } %>
                                        </p>

                                        <p>₹<%= menu.price %>
                                        </p>

                                        <form method="POST" action="/cart/add/<%= menu._id %>">
                                            <button class="btn btn-warning">
                                                Add to Cart
                                            </button>
                                        </form>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                    <% }) %>

            </div>

        </div>

        <%- include("partials/footer") %>
        <%- include("partials/script") %>
</body>

</html>